<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"> 


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Cadastro de Parceiros</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
            padding: 30px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="text-center mb-4">Atualizar Projecto</h2>
        <!-- Mensagem de sucesso -->
    <!-- Mensagem de sucesso -->
    <div th:if="${message}" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
        <form action="/salvarProjecto" th:object="${projecto}" method="POST">
        			            <div class="form-group">
		              
		              <div class="row">
		                <div class="col-md-1">
		                  <label for="id" >ID:</label>
		                  <input type="text" readonly="true" class="form-control" id="id"  th:field="*{id}">
		                </div>
		               </div>
		               
		               <div class="row">
		                <div class="col-md-6">
		                  <label for=""><b>Nome do projecto:</b></label>
		                  <input required type="text" class="form-control" id="nome"  th:field="*{nome}">
		                </div>
		                
		               </div>
		               
		               <div class="row"> 
		                <div class="col-md-6">
							<label for=""><b>Descrição do projecto:</b></label>
							<textarea class="form-control" maxlength="254" rows="3" name="descricao" > </textarea>
							<small class="form-text text-muted">
		                </div>
						</div>
						

		       
		            </div>
		
		            <a><button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>Atualizar</button></a>
		            <a class="btn btn-danger" href="/listarParceiro"><i class="fa-solid fa-list"></i>Listar Parceiros</a>
        
        
  
          </form>

    
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>