<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}"> 
<html lang="pt-br">

  <head>
    <title>Página Cadastro de projecto</title>
  </head>
  <body>			
	    <section class="layout-content" layout:fragment="corpo">
    <!-- Mensagem de sucesso -->
    <div th:if="${message}" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
    <div class="container">
        <form action="/salvarProjecto" th:object="${projecto}" method="POST">
        			            <div class="form-group">
		              
		              <div class="row">
		                <div class="col-md-1">
		                  <label for="id" >ID:</label>
		                  <input type="text" readonly="true" class="form-control" id="id"  th:field="*{id}">
		                </div>
		               </div>
		               
		               <div class="row">
		                <div class="col-md-6">
		                  <label for=""><b>Nome do projecto:</b></label>
		                  <input required type="text" class="form-control" id="nome"  th:field="*{nome}">
		                </div>
		                
		               </div>
		               
		               <div class="row"> 
		                <div class="col-md-6">
							<label for=""><b>Descrição do projecto:</b></label>
							<textarea class="form-control" maxlength="254" rows="3" name="descricao" > </textarea>
							<small class="form-text text-muted">
		                </div>
						</div>
						

		       
		            </div>
		
		            <a><button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>Salvar</button></a>
		            <a class="btn btn-danger" href="/listarParceiro"><i class="fa-solid fa-list"></i>Listar Parceiros</a>
        
        
  
          </form>

    </div>
	    </section>
</body>


