<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}"> 
<html lang="pt-br">

  <head>
    <title>Página lista de projectos</title>
  </head>
  <body>			
	    <section class="layout-content" layout:fragment="corpo">
	    	<br>
		   <div class="table-responsive">
		    	<table class="table table-striped table-hover table-sm"  id="tabela">
				<thead class="bg-primary" style="color:white">
					<tr>
						<td>ID</td>
						<td>Nome</td>
						<td>Descrição</td>
						<td>Ação</td>
					</tr>
		
				</thead>
				
				
				<tbody > 
					<tr th:each="projecto: ${listaProjectos}"><!--Percorer lista de projectos (as linhas da nossa tabela de projecto) como se fose um for( o projecto vai ser a entidade que esta na lista de projecto sendo que projecto tem os campos nome e sigal-->
						<td th:text="${projecto.id}"></td>
						<td th:text="${projecto.nome}"></td>
						<td th:text="${projecto.descricao}"></td>
		
						<td colspan="2">
							<a th:href="@{/editarProjecto/{id} (id=${projecto.id})}"><i class="fa-solid fa-pen-to-square" style="color: #74C0FC;"></i> </a> <!-- ou seja estamos passando o parámetro id nessa /editarProjecto (esta chamando uma função) e esse id vai ser projecto.id-->
					<!--		<a th:href="@{/removerProjecto/{id} (id=${projecto.id})}"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a> -->
					
					
					
		                                <!-- Modal para confirmação de remoção -->
		                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" th:data-target="'#modal-warning-' + ${projecto.id}">
		                                    <i class="fa-solid fa-trash-can" ></i>
		                                </button>
		                                <div class="modal fade" th:id="'modal-warning-' + ${projecto.id}" tabindex="-1" role="dialog" aria-labelledby="modal-warning-title" aria-hidden="true">
		                                    <div class="modal-dialog" role="document">
		                                        <div class="modal-content">
		                                            <div class="modal-header">
		                                                <h5 class="modal-title" id="modal-warning-title">Remover Projecto</h5>
		                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                                                    <span aria-hidden="true">&times;</span>
		                                                </button>
		                                            </div>
		                                            <div class="modal-body">
		                                                <h3>Deseja realmente remover o projecto?</h3>
		                                            </div>
		                                            <div class="modal-footer">
		                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		                                                <a class="btn btn-danger" th:href="@{/removerProjecto/{id} (id=${projecto.id})}">Sim</a>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
					
					
		
						</td>
						
					</tr>
				
				</tbody >
				
				
			
			</table>
		
		            <a class="btn btn-primary" href="/cadastroProjecto"><i class="fa-solid fa-plus"></i>Cadastrar Projecto</a>
		            
		
		
		    </div>

	    </section>
</body>
